@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Galano Grotesque Alt', sans-serif;
}

main {
    display: flex;
}

/* ////// SIDE BAR MENU //////  */
.sidebar-menu {
    padding: 2rem 2rem 2rem 4rem;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    border-right: 2px solid #00000026;
}

.sidebar-menu::-webkit-scrollbar{
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.logo a {
    font-size: 1.437rem;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.create-new-token {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #00000026;
}

.create-new-token button {
    border: 1px dashed #00000026;
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    font-family: 'Galano Grotesque Alt', sans-serif;
    color: #01C09B;
    background-color: transparent;
    cursor: pointer;
}

.my-token, .marketplace, .account, .help {
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.my-token a, .marketplace a, .account a, .help a {
    text-decoration: none;
    color: #01C09B;
    font-size: 1rem;
}

.marketplace.active {
    background-color: #01C09B;
}

.marketplace.active a {
    color: #ffffff;
}

.help {
    margin-top: 70%;
    margin-bottom: 0;
    border-top: 1px solid #00000026;
    border-radius: 0;
}

/* ////// MAIN SECTION //////  */
.main-page {
    margin-left: 17.6rem;
    width: 100%;
    padding-bottom: 3rem;
}

/* top bar  */
.top-bar {
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding: 1.5rem 3rem;
    border-bottom: 2px solid #00000026;
    align-items: center;
}

.top-bar input {
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #00000026;
    padding-left: 0.8rem;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.top-bar input::placeholder {
    color: #01C09B;
}

.top-bar input:focus {
    outline: none;
    color: #01C09B;
}

.top-bar button {
    font-size: 1.25rem;
    color: #ffffff;
    padding: 0.4rem 1.5rem;
    background-color: #01C09B;
    border: 2px solid #01C09B;
    font-family: 'Galano Grotesque Alt', sans-serif;
    cursor: pointer;
    border-radius: 0.5rem;
}


/* market place content  */
.marketplace-content, .property-info {
    padding: 2rem 3rem;
}

.marketplace-content h1, .marketplace-content h2 {
    font-size: 2rem;
    margin-top: 0;
}

.marketplace-content h2 {
    margin-top: 5rem;
}

.market-items, .most-green {
    display: flex;
    gap: 1.5rem;
}

.item, .most-green-item {
    padding: 0.6rem;
    border: 0.95px solid #00000026;
    border-radius: 0.5rem
}

.asset-image {
    width: 100%;
}

.owner-and-veriry {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.owner-and-veriry small {
    color: #01C09B;
}

.item-name {
    font-size: 1.1875rem;
    font-weight: bold;
    margin-top: 0;
}

.item-price {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.8rem;
}

.item-price p {
    font-size: 1.275rem;
    font-weight: bold;
    margin: 0;
}

.item-price p .price-figure {
    font-size: 0.5938rem;
    font-weight: 400;
    color: #01C09B;
}

/* ////// PROPERTY INFO //////  */
.property-info {
    display: flex;
    gap: 2rem;
    
}

.property-imgs {
    width:100%;
}

.info-image {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.img-sections {
    display: flex;
    gap: 1rem;
}

.img-sections img {
    width: 22%;
    border-radius: 0.3rem;
    cursor: pointer;
}

.img-sections img.active {
    border: 4px solid #01C09B;
}

.property-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.3rem;
}

.property-text-info .owner-and-veriry small {
    font-size: 1rem;
}

.property-text-info .item-price {
    margin-top: 1rem;
    margin-bottom: 0.3;
}

.property-text-info .item-price p {
    color: #01C09B;
    font-size: 2.5rem;
}

.property-text-info .item-price p .price-figure {
    font-size: 1rem;
}

.property-details {
    font-size: 1rem;
    color: #01C09B;
    margin-top: 0;
}

.property-text-info button {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-family: 'Galano Grotesque Alt', sans-serif;
    background-color: #01C09B;
    border: 2px solid #01C09B;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}